button{
    background-color: white;
        color: rgb(8, 8, 184);
        border-color: rgb(8, 8, 184);
        height: 35px;
        width: 100px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
}